
@font-face {
    font-family: 'Power Grotesk';
    src: url('../fonts5/PowerGrotesk-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: auto;
 }
 
 @font-face {
    font-family: 'Power Grotesk';
    src: url('../fonts5/PowerGrotesk-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: auto;
 }
 
/* ------------------------- Colors -------------------------------------------------- */

:root {

    --color-dark-rgb-og: rgb(17, 19, 22);
    --color-dark-rgb: 17, 19, 22;
    --color-dark: rgb(var(--color-dark-rgb));
    --color-light-rgb: 219, 213, 201;
    --color-light: rgb(var(--color-light-rgb));
    --color-light-lighter: #f4f2ef;
    --color-white: #FFFFFF;
    --color-primary: #003ecf;
    --color-primary-light: #7EA7BE;
    --color-gray: #A8A8A8;
    --color-lightgray: #E4E4E4;
    --color-mediumgray: #4B4B4B;
    --color-darkgray-rgb-og: rgb(36, 38, 41);
    --color-darkgray-rgb: 36, 38, 41;
    --color-darkgray: rgb(var(--color-darkgray-rgb));
    
    --color-border: rgba(0, 0, 0, 0.175);
    --color-border-light: rgba(228, 226, 221, 0.3);

    --color-text: var(--color-dark);
    --color-text-light: var(--color-light);
    --color-text-light: rgba(244, 238, 230, 0.7);

    --alert-error: #ff4444;
    --alert-success: #24C958;

    --animation-ultra: .2s cubic-bezier(.7, 0, .3, 1);
    --animation-fast: .4s cubic-bezier(.7, 0, .3, 1);
    --animation-primary: .6s cubic-bezier(.7, 0, .3, 1);
    --animation-smooth: .8s cubic-bezier(.7, 0, .3, 1);
    --animation-slow: 1s cubic-bezier(.7, 0, .3, 1);
    --animation-bounce: .6s cubic-bezier(0.35, 1.5, 0.6, 1);

    /* --animation-bounce: .6s cubic-bezier(.85, 0, .15, 1); */

    --section-padding: 18vh;
    --container-padding: min(11vw, 11em);
    --gap-padding: max(1em, 3.5vw);

    --title-size: min(6vw, 6em);
  
}

@media screen and (max-width: 1024px){
    :root { 
        --section-padding: 8vh;
        --container-padding: 4vw;
        --title-size: max(2em, 8vw);
    }
}

@media screen and (max-width: 720px){

    :root { 
        --section-padding: 10vh;
    }
}

@media screen and (max-width: 540px){

    :root { 
        --title-size: max(2em, 12vw);
    }
}



/* ------------------------- Body -------------------------------------------------- */

*, *:after, *:before { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
li, ul {padding: 0; margin: 0; list-style: none;}

body {
    -webkit-font-smoothing: antialiased;
    font-family: 'Power Grotesk', sans-serif;
    color: var(--color-text-light);
    line-height: 1.6;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    font-size: clamp(15px, 1.2vw, 19px);
    background-color: var(--color-dark);
}

html, body {
    width: 100%;
    -webkit-font-smoothing: antialiased;
    position: relative;
    background-color: var(--color-dark);
}

/* Selection */
::selection {
    background-color: var(--color-light); 
    color: var(--color-dark); 
    text-shadow: none;
}

::-moz-selection {
    background-color: var(--color-light); 
    color: var(--color-dark); 
    text-shadow: none;
}

/* General */
canvas, img, video {
    max-width: 100%;
    height: auto;
    box-sizing: border-box;
}

svg {
    max-width: none;
    height: auto;
    box-sizing: border-box;
}

audio, canvas, iframe, img, svg, video {
    vertical-align: middle;
}

/* ------------------------- Typography -------------------------------------------------- */

h1, h2, h3, h4, h5, h6, p, a, li, ul, ol, span, strong, em  {padding: 0; margin: 0; font-style: normal; font-weight: 400; letter-spacing: normal;}
h1:last-child, h2:last-child, h3:last-child, h4:last-child, p:last-child, p.big:last-child, p.small:last-child, a:last-child, strong:last-child  {margin-bottom: 0;}

h1 {
    font-family: 'Power Grotesk', sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: calc(var(--title-size) * 1);
    line-height: 1;
}

h1.small {
    font-size: calc(var(--title-size) * .8);
}
  
h2 {
    font-family: 'Power Grotesk', sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: calc(var(--title-size) * .65);
    line-height: 1.1;
}

h2.big {
    font-size: calc(var(--title-size) * 1);
}

h3 {
    font-family: 'Power Grotesk', sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: calc(var(--title-size) * .475);
    line-height: 1.2;
}

h4 {
    font-family: 'Power Grotesk', sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: calc(var(--title-size) * .4);
    line-height: 1;
}

h5 {
    font-family: 'Power Grotesk', sans-serif;
    font-weight: 800;
    font-style: normal;
    font-size: .9em;
    line-height: 1;
    text-transform: uppercase;
    color: var(--color-light-lighter);
    letter-spacing: .05em;
}

.h5-dot {
    position: relative;
    display: inline-block;
    height: .75em;
    width: .75em;
    border-radius: .75em;
    background: transparent;
    overflow: hidden;
    margin-right: .25em;
}

.h5-dot::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: var(--color-light);

    width: 50%;
    height: 50%;
    top: 27.5%;
    left: 25%;
    border-radius: 50%;
}

h5.big {
    font-size: 1.1em;
    letter-spacing: .05em;
}

h5.small {
    text-transform: uppercase;
    font-size: .7em;
    letter-spacing: .2em;
    font-weight: 400;
    color: var(--color-light);
}

@media screen and (max-width: 720px){

    h4 {
        font-size: calc(var(--title-size) * .5);
    }

    h5 {
        font-size: .8em;
    }
    
    h5.big {
        font-size: 1.05em;
    }
    
    h5.small {
        font-size: .65em;
    }
}

@media screen and (max-width: 540px){

    h2 {
        font-size: calc(var(--title-size) * .7);
    }
    
    h1.small {
        font-size: calc(var(--title-size) * .8);
    }

    h4 {
        font-size: calc(var(--title-size) * .4);
    }
}

p {
    font-family: 'Power Grotesk', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1em;
    line-height: 1.75;
    margin-bottom: 1em;
}

p.big {
    font-size: 1.2em;
}

p.small {
    font-size: .9em;
}

strong {
    font-weight: 500;
    color: var(--color-white);
}

em {
    font-style: italic;
}
  
a {
    color: inherit;
    text-decoration: none;
}

p a {
    text-decoration: underline;
    transition: var(--animation-ultra);
    position: relative;
    display: inline-flex;
    transform: scale(1) rotate(0.001deg);
}

p a:hover {
    text-decoration: underline;
    transform: scale(.95) rotate(0.001deg);
    opacity: .5;
}


.theme-dark h1, .theme-dark h2, .theme-dark h3, .theme-dark h4 {
    color: var(--color-light-lighter);
}

.theme-dark h5 {
    color: var(--color-light);
}

.theme-dark p {
    color: var(--color-text-light);
}

.theme-light h1, .theme-light h2, .theme-light h3, .theme-light h4, .theme-light h5, .theme-light p {
    color: var(--color-dark);
}


  
/* ------------------------- Main Elements -------------------------------------------------- */

.section {
    display: block;
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    position: relative;
    outline: 2px solid var(--color-dark);
    outline-offset: -1px;
}

.section-wrap {
    display: block;
    padding-top: 0;
    padding-bottom: 0;
    position: relative;
}

.section.full-height {
    min-height: 100vh;
    display: flex;
    align-items: center;
}

.section.no-padding {
    padding-top: unset;
    padding-bottom: unset;
}

.theme-dark {
    background: var(--color-dark);
}

.theme-light {
    background: var(--color-light);
}

.container {
    margin: 0 auto;
    padding-left: var(--container-padding);
    padding-right: var(--container-padding);
    max-width: 100em;
}

.container.large {
    padding-left: var(--gap-padding);
    padding-right: var(--gap-padding);
} 

.container.medium-plus {
    padding-left: calc(var(--container-padding) * 1.5);
    padding-right: calc(var(--container-padding) * 1.5);
} 

.container.medium {
    padding-left: calc(var(--container-padding) * 2);
    padding-right: calc(var(--container-padding) * 2);
} 

.container.small {
    padding-left: calc(var(--container-padding) * 2.5);
    padding-right: calc(var(--container-padding) * 2.5);
} 

.container.no-padding {
    padding-left: unset;
    padding-right: unset;
}

.row {
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

.row.no-flex {
    display: block;
}

.row.no-wrap {
    flex-wrap: nowrap;
}

.flex-col {
    display: block;
    width: 100%;
    order: 2;
    position: relative;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

img.overlay,
video.overlay {
    object-fit: cover;
}

.line {
    display: block;
    width: 100%;
    height: 1px;
    background-color: var(--color-border);
    margin-top: calc(var(--section-padding) * .5);
    margin-bottom: calc(var(--section-padding) * .5);
}

.theme-dark .line {
    background-color: var(--color-border-light);
}

.stripe {
    display: block;
    width: 100%;
    height: 1px;
    background-color: var(--color-border);
    position: relative;
}

.theme-dark .stripe {
    background-color: var(--color-border-light);
}

.no-select {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@media screen and (max-width: 540px){

    .section.full-height {
        min-height: 100vh;
        min-height: calc(var(--vh, 1vh) * 100);
    }

    .container.medium-plus,
    .container.medium,
    .container.small {
        padding-left: var(--container-padding);
        padding-right: var(--container-padding);
    } 
}

/* ------------------------- Main -------------------------------------------------- */

main {
    box-sizing: border-box;
    overflow: hidden;
    width: 100vw;
    position: fixed;
    height: 100%;
    background: var(--color-dark);
    display: block;
 }
 
 .main-wrap {
    box-sizing: border-box;
    width: 100vw;
    will-change: transform;
    position: fixed;
    display: block;
    display: flex;
    flex-direction: column;
 }
 
 main.touch {
    position: relative;
    height: auto;
 }
 
 main.touch .main-wrap {
    position: relative;
 }
 
 @media screen and (max-width: 1024px) {
    main {
       position: relative;
    }
    .main-wrap {
       position: relative;
    }
 }

/* ------------------------- Buttons -------------------------------------------------- */

.btn-row {
    width: 100%;
    position: relative;
    display: flex;
}

.btn {
    position: relative;
    border: 0;
    outline: 0;
}

.btn input {
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
}

.btn:last-child {
    margin-bottom: 0;
}

.btn .btn-click {
	cursor: pointer;
	border: 0;
	background: transparent;
	border-radius: 1.5em;
	min-width: 3em;
	height: 3em;
	padding: 0;
	font-size: 1em;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
    position: relative;
    text-decoration: none;
    will-change: transform;
    outline: 0;
    transform: translateZ(0) rotate(0.001deg);
}

.btn .btn-click:hover {
    cursor: pointer;
}

.btn .btn-fill {
    background: var(--color-light);
	position: absolute;
	width: 100%;
	height: 100%;
	border-radius: 1.5em;
	top: 0;
    left: 0;
    transition: var(--animation-bounce);
    transform: scale(1) rotate(0.001deg);
}

.btn .btn-text {
    display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
    padding: 0 1.75em;
    position: relative;
    color: var(--color-dark);
}

.btn.btn-dark .btn-text {
    color: var(--color-light);
}

.btn .btn-text-inner {
    position: relative;
}

.btn .btn-text span:nth-child(1) {
    display: block;
    width: 100%;
    position: relative;
    transform: translateY(0) scale(1, 1) rotate(0.001deg);
    transition: var(--animation-bounce);
    font-weight: 400;
    font-size: .9em;
    opacity: 1;
    white-space: nowrap;
}

.btn .btn-text span:nth-child(2) {
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    transform: translateY(150%) scale(1, .5) rotate(0.001deg);
    transition: var(--animation-bounce);
    font-weight: 400;
    font-size: .9em;
    opacity: 0;
    white-space: nowrap;
}

.btn .btn-text .btn-icon-inner {
    position: relative;
    height: .6em;
    display: flex;
	align-items: center;
	justify-content: center;
}

.btn .btn-text .btn-icon-inner svg {
    width: unset;
    height: 100%;
    transform: translateX(.25em) rotate(0.001deg);
}

.btn .btn-text .btn-icon-inner svg path {
    fill: var(--color-dark);
}

.btn.btn-dark .btn-text .btn-icon-inner svg path {
    fill: var(--color-light);
}

/* --- Button Hover --- */

@media screen and (min-width: 540px){

    .btn .btn-click:hover .btn-fill {
        transform: scale(0.95) rotate(0.001deg);
        background: var(--color-light);
    }

}

.btn .btn-click:hover .btn-text span:nth-child(1),
.btn.active .btn-click .btn-text span:nth-child(1)  {
    transform: translateY(-150%) scale(1, .5) rotate(0.001deg);
    opacity: 0;
}

.btn .btn-click:hover .btn-text span:nth-child(2),
.btn.active .btn-click .btn-text span:nth-child(2) {
    transform: translateY(0%) scale(1, 1) rotate(0.001deg);
    opacity: 1;
}

/* --- Button Negative --- */

.btn.btn-negative .btn-fill,
.btn.btn-negative .btn-click:hover .btn-fill {
    background: var(--color-dark);
}

.btn.btn-negative .btn-text {
    color: var(--color-light);
}

.btn.btn-negative .btn-text .btn-icon-inner svg path {
    fill: var(--color-light);
}

/* --- Button outline --- */

.btn.btn-outline .btn-click .btn-text-inner span:nth-child(1) {
    color: var(--color-light);
}

.btn.btn-outline .btn-click svg path {
    fill: var(--color-light);
}

.btn.btn-outline .btn-click:hover svg path,
.btn.btn-outline.active .btn-click svg path {
    fill: var(--color-dark);
}

.btn.btn-outline .btn-fill {
    border: 1px solid var(--color-border-light);
    background: transparent;
}

@media (hover: hover) { 
    .btn.btn-outline .btn-click:hover .btn-fill {
        border: 1px solid var(--color-light);
        background: var(--color-light);
    }
}

.btn.btn-outline.active .btn-click .btn-fill {
    border: 1px solid var(--color-light);
    background: var(--color-light);
}

/* --- Button Normal - Icon External --- */

.btn .btn-text .btn-icon-inner.icon-external svg {
    transform: translateX(.25em) rotate(-45deg);
    transition: transform var(--animation-bounce);
}

@media (hover: hover) {

    .btn .btn-click:hover .btn-text .btn-icon-inner.icon-external svg {
        transform: translateX(.25em) rotate(0.001deg);
    }

}

/* --- Button Normal - Icon Bag --- */

.btn .btn-text .btn-icon-inner.icon-bag {
    height: .8em;
}

.btn .btn-text .btn-icon-inner.icon-bag svg {
    margin-right: .25em;
    transform: translate(-.25em, -.1em) rotate(0.001deg);
    transition: transform var(--animation-bounce);
}

@media (hover: hover) {

    .btn .btn-click:hover .btn-text .btn-icon-inner.icon-bag svg {
        transform: translate(-.25em, -.1em) rotate(-360deg);
    }

}
/* --- Button Normal - Icon Social --- */

.btn .btn-text .btn-icon-inner.icon-social {
    height: 1em;
}

.btn .btn-text .btn-icon-inner.icon-social svg {
    margin-right: .25em;
    transform: translate(-.25em, -.05em) rotate(0.001deg);
    transition: transform var(--animation-bounce);
}

@media (hover: hover) {

    .btn .btn-click:hover .btn-text .btn-icon-inner.icon-social svg {
        transform: translate(-.25em, -.05em) rotate(-360deg);
    }

}

/* --- Button Normal - Icon Chevron --- */

.btn .btn-text .btn-icon-inner.icon-chevron {
    height: .4em;
}

.btn .btn-text .btn-icon-inner.icon-chevron svg {
    margin-left: .05em;
    transform: translate(.25em, 0em) rotate(0.001deg);
    transition: transform var(--animation-bounce);
}

@media (hover: hover) {

    .btn .btn-click:hover .btn-text .btn-icon-inner.icon-chevron svg {
        transform: translate(.25em, 0em) rotate(180deg);
    }
}

/* --- Button Icon --- */

.btn.btn-icon .btn-text {
    padding: 0;
}

.btn.btn-icon .btn-text .btn-icon-inner svg {
    transform: translateX(0) rotate(0.001deg);
}

/* --- Button Icon - Grid --- */

.btn-icon .btn-text .btn-icon-inner.icon-grid {
    height: .75em;
}

.btn-icon .btn-text .btn-icon-inner.icon-grid svg {
    transform: translate(0, 0) rotate(0.001deg);
    transition: transform var(--animation-bounce);
}

.btn-icon .btn-click:hover .btn-text .btn-icon-inner.icon-grid svg,
.btn-icon.active .btn-click .btn-text .btn-icon-inner.icon-grid svg {
    transform: translate(0, 0) rotate(-180deg);
}

/* --- Button Icon - List --- */

.btn-icon .btn-text .btn-icon-inner.icon-list {
    height: .45em;
}

.btn-icon .btn-text .btn-icon-inner.icon-list svg {
    transform: translate(0, 0) rotate(0.001deg);
    transition: transform var(--animation-bounce);
}

.btn-icon .btn-click:hover .btn-text .btn-icon-inner.icon-list svg,
.btn-icon.active .btn-click .btn-text .btn-icon-inner.icon-list svg {
    transform: translate(0, 0) rotate(-180deg);
}

/* --- Button Icon - List --- */

.btn-hamburger .btn-icon-inner {
    width: 35%;
    position: relative;
}

.btn-hamburger .bar {
    width: 100%;
    position: absolute;
    height: 1px;
    background: var(--color-light);
}

.btn-hamburger .btn-icon-inner .bar:nth-child(1) {
    transform: translateY(-500%) scaleX(1) rotate(0.001deg);
    transition: var(--animation-bounce);
}

.btn-hamburger .btn-icon-inner .bar:nth-child(2) {
    transform: translateY(0%) scaleX(1) rotate(0.001deg);
    transition: var(--animation-bounce);
}

.btn-hamburger .btn-icon-inner .bar:nth-child(3) {
    transform: translateY(500%) scaleX(1) rotate(0.001deg);
    transition: var(--animation-bounce);
}

@media (hover: hover) { /* when supported */

    .btn-hamburger .btn-click:hover .btn-icon-inner .bar:nth-child(1) {
        transform: translateY(-400%) scaleX(0.5) rotate(0.001deg);
        background: var(--color-dark);
    }

    .btn-hamburger .btn-click:hover .btn-icon-inner .bar:nth-child(2) {
        transform: translateY(0%) scaleX(1) rotate(0.001deg);
        background: var(--color-dark);
    }

    .btn-hamburger .btn-click:hover .btn-icon-inner .bar:nth-child(3) {
        transform: translateY(400%) scaleX(0.5) rotate(0.001deg);
        background: var(--color-dark);
    }

}

main.nav-main-is-active .btn-hamburger .btn-fill {
    background: var(--color-light);
}

main.nav-main-is-active .btn-hamburger .btn-click .btn-icon-inner .bar:nth-child(1) {
    transform: translateY(0%) scaleX(1) rotate(45deg);
    background: var(--color-dark);
}

main.nav-main-is-active .btn-hamburger .btn-click .btn-icon-inner .bar:nth-child(2) {
    transform: translateY(0%) scaleX(0) rotate(0.001deg);
    background: var(--color-dark);
}

main.nav-main-is-active .btn-hamburger .btn-click .btn-icon-inner .bar:nth-child(3) {
    transform: translateY(0%) scaleX(1) rotate(-45deg);
    background: var(--color-dark);
}





/* ------------------------- Social Icons -------------------------------------------------- */

.s-icon {
    position: relative;
    overflow: hidden;
    width: 1.75em;
    height: 1.75em;
    margin-right: .15em;
    margin-left: .15em;
    border-radius: 50%;
    background-color: var(--color-darkgray);
    display: block;
    float: left;
    border: 1px solid transparent;
    transition: var(--animation-bounce);
}

.s-icon .s-icon-wrap {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(0.0001deg);
    width: 60%;
}

.s-icon .s-icon-wrap svg:nth-child(1) {
    display: block;
    width: 100%;
    position: relative;
    transform: translateX(0) scale(1, 1) rotate(0.001deg);
    transition: var(--animation-bounce);
    opacity: 1;
}

.s-icon .s-icon-wrap svg:nth-child(2) {
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    transform: translateX(-200%) scale(1, 1) rotate(0.001deg);
    transition: var(--animation-bounce);
    opacity: 0;
}

.s-icon .s-icon-wrap svg path {
    fill: var(--color-light);
}

.s-icon .s-icon-wrap svg:nth-child(2) path {
    fill: var(--color-light-lighter);
}

.s-icon:hover {
    border: 1px solid var(--color-border-light);
}

.s-icon:hover .s-icon-wrap svg:nth-child(1) {
    transform: translateX(200%) scale(1, 1) rotate(0.001deg);
    opacity: 0;
}

.s-icon:hover .s-icon-wrap svg:nth-child(2) {
    opacity: 1;
    transform: translateX(0%) scale(1, 1) rotate(0.001deg);
}


/* --- Theme Light --- */

.theme-light .s-icon {
    border: 1px solid var(--color-border);
    background-color: var(--color-light);
}

.theme-light .s-icon .s-icon-wrap svg path {
    fill: var(--color-darkgray);
}

.theme-light .s-icon .s-icon-wrap svg:nth-child(2) path {
    fill: var(--color-dark);
}

/* ------------------------- Color Box -------------------------------------------------- */

.color-box {
    width: calc(33.333% -  1.333em);
    background: var(--primary-dark);
    font-weight: 500;
    color: var(--white);
    margin-right: 2em;
    margin-top: 2em;
}

.color-box:nth-child(3), .color-box:nth-child(6) {
    margin-right: 0;
}

.color-box:before {
    content: "";
    display: block;
    padding-top: 40%;
}

.color-box .overlay {
    padding: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.color-box.dark {
    background: var(--color-dark);
    box-shadow: inset 0 0 0 1px var(--color-border-light);
    color: var(--color-light);
}

.color-box.light {
    background: var(--color-light);
    color: var(--color-dark);
}

.color-box.blue {
    background: var(--color-primary);
    color: var(--color-light);
}

.color-box.dark-gray {
    background: var(--color-darkgray);
}

.color-box.medium-gray {
    background: var(--color-mediumgray);
}

.color-box.light-gray {
    background: var(--color-lightgray);
    color: var(--color-dark);
}



@media screen and (max-width: 1000px){
    .color-box {
        width: calc(50% - 1em);
    }
    
    .color-box:nth-child(3), .color-box:nth-child(6) {
        margin-right: 2em;
    } 

    .color-box:nth-child(even) {
        margin-right: 0;
    } 
}

@media screen and (max-width: 720px){
    .color-box {
        width: 100%;
    }

    .color-box:nth-child(even), .color-box:nth-child(odd) {
        margin-right: 0;
    } 
}